html{
    scroll-behavior: smooth;
}
#titleDiv{
    text-align: left;
}

.icon-bar{
    background-color: black;
}

#logo{
    max-height: 15vh;
}

#sponsorText{
    color: black;
    font-size: 5vh;
    font-family: 'Oswald', sans-serif;
}

.nav{
    text-align: right;
}

.links{
    margin-top: 5vw;
    padding: 0 4vw;
    font-size: 150%;
    color: rgb(79, 38, 131);
}

.active{
    border-bottom: solid;
    border-color: rgb(79, 38, 131);
    border-bottom-width: 0.2vw;
}

#announcements{
    color: white;
    padding: 2vw;
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
}

#landingImage{
    max-width: 100%;
}

#events{
    text-align: center
}
#timelineText{
    color: black;
    font-size: 5vh;
    font-family: 'Oswald', sans-serif;
}

#informationDiv{
    padding:7vh;
}


.col-sm-4{
    padding: 1vw;
    text-align: center;
}

.col-sm-12{
    padding: 2vw;
    text-align: center;
}

#main{
    color: rgb(79, 38, 131);
    font-weight: bold;
}

#about{
    color: white;
    font-size: 5vh;
    font-family: 'Oswald', sans-serif;
}
#team{
    color: white;
    font-size: 5vh;
    font-family: 'Oswald', sans-serif;
}

.col-sm-6{
    text-align: center;
    padding: 1vw;
}

#name{
    color: black;
    font-weight: bold;
}

#position{
    color: rgb(79, 38, 131);
    font-size: 30px;
}

#teamBio{
    color: black;
    font-size: 15px;
}

#img{
    padding: 0vw 1vw;
    width: 7vw;

}

#sponsor{
    text-align: center;
    margin-top: 2vw;
}

.page-footer{
    background-color: rgb(37, 37, 37);
    color: white;
    height: 5vh;
}
.footer-copyright{
    padding-top: 2vh;
}

#borderMedium{
    background-color: rgb(79, 38, 131);
    height: 20vh;
    text-align: center;

}
#borderSmall{
    background-color: rgb(79, 38, 131);
    height: 10vh;
    text-align: center;
}
#borderLarge{
    background-color: rgb(79, 38, 131);
    height: 30vw;
    width: 100%;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 5vw;
}
#regular{
    background-color: white;
    margin: 2vw;
    border-radius: 0.5vw;
    height: 26vw;
    text-align: center
}

#fb{
    max-width: 20vw;
    max-height: 26vw;
}
#line{
    position: sticky;
    height: 1vh;
    background-color: black;
    margin-top: 24vh;
}

#labelTop{
    position: sticky;
    color: rgb(79, 38, 131);
    margin-top: 20vh;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}
#circle {
    position: absolute;
    width: 2vw;
    height: 2vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    border-radius: 1vw;
    background: black;
    margin-top: 23vh;
  }

  #eventBottom{
      position: absolute;
      background-color: rgba(78, 38, 131, 0.479);
      margin-top: 27vh;
      width: 10vw;
      height: auto;
      border-radius: 1vw;
  }

  #eventTop{
    position: absolute;
    background-color: rgba(78, 38, 131, 0.479);
    margin-top: 5vh;
    width: 10vw;
    height: 9vw;
    border-radius: 1vw;
  }
  #eventBottom p, #eventTop p{
      padding: 0.3vw;
      font-weight: bold;
  }


  @media screen and (max-width:1200px) {
    .dissapear {display:none}
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top:50%;
  margin-top: -22px;
  padding: 16px;
  color: gray;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
    left:0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4.0s;
  animation-name: fade;
  animation-duration: 4.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}